@import "~bootstrap/scss/bootstrap";
@import "reset";
@import "variables";
@import "utility";

html,
body {
  font-size: 16px !important;
}

a.pw-anchor {
  display: block;
  position: relative;
  top: -56px;
  visibility: hidden;
}

.pw-body-project {
  background-color: #313131;
}

.pw-footer {
  padding: 1rem 0;
  background-color: #313131;
}
