{
  "singleQuote": false,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "semi": true,
  "quoteProps": "consistent",
  "endOfLine": "crlf",
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true
}
