.pw-project-container {
  padding: 0 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.pw-project-card {
  border-radius: 7px;
  box-shadow: 0px 0px 3px 0px #a2a2a2;
  max-width: 15rem;
  height: 22rem;
  display: flex;
  overflow: hidden;
  background-color: white;
  margin: 0 0.5rem 1.25rem;

  > * {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
  }

  .pw-project-card-inner {
    display: flex;
    flex-direction: column;
    transition: transform 0.35s ease;
    transition-delay: 0.15s;

    &.active {
      transform: translateX(-100%);
    }
  }
  .pw-project-card-image {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.15s ease;
    box-shadow: 0px 1px 10px -6px #444;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.active {
      transform: translateY(-100%);
    }
  }
  .pw-project-card-tag {
    background-image: linear-gradient(#f2f2f2, #e6e6e6);
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    height: 1.25rem;
    padding: 0.125rem 0.25rem;
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: 500;
    margin-bottom: 0.25rem;

    &:not(:last-child) {
      margin-right: 0.25rem;
    }
  }
  .pw-project-card-content {
    position: relative;
    padding: 1rem 1.5rem 0.75rem;
    flex: 1;

    .pw-project-card-desc {
      p {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    .pw-project-card-tags {
      display: flex;
      align-items: flex-end;
      flex: 1;
      overflow: hidden;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 1rem;
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), white);
      }
    }
  }
  .pw-project-card-footer {
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dadada;
    transition: transform 0.15s ease;

    span {
      font-size: 0.75rem;
      line-height: 0.75rem;
    }

    button {
      border: none;
      background: none;
      padding: 0;
      display: flex;
      padding: 0 0.5rem;
    }

    &.active {
      transform: translateY(100%);
    }
  }
  .pw-project-card-detail {
    padding: 1rem;
    transition: transform 0.35s ease;
    transition-delay: 0.15s;
    overflow: hidden;
    position: relative;

    .pw-project-card-detail-content {
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;
    }

    button.reset {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      border: none;
      background: none;
      width: 2rem;
      height: 2rem;
      padding: 0;
      border-radius: 50%;
      box-shadow: 0px 0px 2px 1px #515151;
      background-color: white;
    }

    .pw-project-card-detail-tags {
      display: flex;
      flex-wrap: wrap;
    }

    &.active {
      transform: translateX(-100%);
    }
  }
}
