.pw-snap-slider {
  display: flex;
  flex-direction: row;
  height: 10rem;

  .pw-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: hidden;
    position: relative;

    .pw-slider-snapbox {
      height: 6rem;
      width: 6rem;
    }

    .pw-slider-inner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 6rem;
    }
  }

  .pw-slider-item {
    display: flex;
    transition: transform 0.2s ease;
    margin: 1rem 0;

    .icon {
      width: 6rem;
      height: 6rem;
    }
  }

  .pw-content {
    flex: 1;
  }
}
